
@import "/home/mhiri/.config/waybar/theme.css";

@define-color border-color alpha(mix(@background, @foreground, 0.7), 0.5);
@define-color accent @color4;
@define-color background-transparent alpha(@background, 0);
@define-color bg1 alpha(@background, 0.8);


* {
    border: none;
    margin:0;
    padding:0;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}


window#waybar {
    background: @background-transparent; 
    color: @foreground;
}
