@import "theme.css";

@define-color border-color alpha(mix(@background, @foreground, 0.7), 0.5);
@define-color accent @color4;
@define-color background-transparent alpha(@background, 0);
@define-color bg1 alpha(@background, 0.8);


@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

* {
    border: none;
    margin:0;
    padding:0;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /* background: @background-transparent;  */
    background: rgba(0,0,0,0); 
    color: @foreground;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

.modules-center{

  background-color: @color0;
  /* background: transparent; */
  border-radius: 0px 0px 10px 10px;
  padding: 0px 4px 4px 4px;
  margin: 0px;
}

#workspaces {
    background: @color0;
    /* border-radius: 0px 0px 8px 8px; */
    padding: 4px;
}

#workspaces button {
    color: transparent;
    background: @color8;
    padding: 0px 2px;
    margin: 0px 2px;
    border: none;
    border-radius: 64px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, padding 0.2s ease;
}
  #workspaces button *{
        font-size: 8pt;
  }

#workspaces button.persistent {
  color: mix(@foreground, @color8, 0.5 );
  background: @color8;
}


#workspaces button.empty {
    color: @background;
    background: @background;
}

#workspaces button.visible {
    background: linear-gradient(45deg , mix(@color6, @color8, 0.7), mix(@accent, @color8, 0.2));
    color: @color0;
    /* color: @foreground; */
}

#workspaces button.active {
    color: @color0; 
    background: linear-gradient(60deg , @accent, @color6, @accent);
    background-size: 600% 300%;
    animation: movingGradient 5s linear infinite; 
    padding-left: 10px;
    padding-right: 10px;
    transition: background 0.4s ease-in-out, color 0.5s ease-in-out, padding 0.2s ease;
}

#workspaces button.urgent {
    color: @color0;
    background: @color1;
}

#workspaces button:hover {
    color: @foreground;
    background: @color8;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#taskbar,
#submap,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight {
    background: transparent; 
    opacity: 1;
    padding: 0px 8px;
    margin: 0px 0px;
    border: 0px;
}

#clock{
  background-color: @color0;
  color: @accent;
  opacity: 1;
  padding: 0px 16px;
  margin-left: 2px;
  border-radius: 0px 0px 0px 16px;
}

#tasks{
  background-color: @color0;
  color: @accent;
  opacity: 1;
  font-size: 16px;
  border-radius: 0px 0px 16px 0px;
  margin-right: 2px;
}

#custom-launch_wofi{
  /* background-color: @color0; */
  color: @accent;
  opacity: 1;
  padding: 0px 16px;
  padding-right: 24px;
  /* border-radius: 0px 0px 16px 0px; */
  /* margin-right: 2px; */
}


#tray{
    background-color: @bg1;
    border-radius: 8px;
    margin: 4px 2px;
}

#hardware{
    background-color: @bg1;
    border-radius: 8px;
    margin: 4px 2px;
}


#pulseaudio{
  background-color: @bg1;
  border-radius: 8px 0px 0px 8px;
  margin: 4px 0px;
  margin-left: 2px;
}

#pulseaudio.microphone{
  background-color: @bg1;
  border-radius: 0px 8px 8px 0px;
  margin: 4px 0px;
  margin-right: 2px;
}

#custom-myhyprv{
  background-color: @bg1;
  margin: 4px 2px;
  border-radius: 8px;  
}

#taskbar{
  margin: 4px;
}

#taskbar button{
    margin: 4px 2px;
    padding: 2px 1px;
  padding-left: 4px;
  border-bottom: 2px solid transparent;
}
#taskbar button.active{
  background-color: transparent;
  border-bottom: 2px solid @accent;
}


#battery {
  background-color: @bg1;
  border-radius: 8px 0px 0px 8px;
  color: @foreground;
  padding: 0px 4px;
  margin: 4px 0px;
  margin-left: 2px;
  padding-left: 8px;
}
#backlight {
  background-color: @bg1;
  border-radius: 0px 8px 8px 0px;
  padding: 0px 4px;
  padding-right: 4px;
  margin: 4px 0px;
  margin-right: 2px;
}

#battery.warning {
  color: @color3;
}

#battery.critical {
  color: @color1;
}

#cpu, #memory, #temperature{
  background-color: @bg1;
  margin: 4px 0px;
  padding: 0px 4px;
}
#memory{
    border-radius: 0px 8px 8px 0px;
    margin-right: 2px;
    padding-right: 8px;
}
#temperature{
  border-radius: 8px 0px 0px 8px;
    margin-left: 2px;
    padding-left: 8px;
}

#submap{
  padding: 0px 8px;
  color: @accent;
  background-color: @bg1;
  border-radius: 8px;
  margin: 4px 2px;
}

#window{
    font-size: 9pt;
    color: @foreground;
    margin: 4px 2px;
    padding: 0px 8px;
    /* background-color: @bg1; */
    /* border-radius: 8px; */
  }
#window.empty{
    padding: 0px;
    margin: 0px;
    background: @color4;
  }

