
@import "theme.css";
/* @import "colors.css"; */

@define-color border-color alpha(mix(@color8, @foreground, 0.3), 0.5);
@define-color center @foreground;
@define-color accent @color4;
@define-color background1 mix(@background, @color0, 0.5);
@define-color background2 mix(@background, @color0, 0.75);

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    border-color: @border-color; 
}

window#waybar {
    background: alpha(@background, 0.5);
    color: @foreground;
}

.modules-left{
  /* background: alpha(@background1, 0.9); */
  border-color: @border-color;
  border-radius: 6px;
  padding: 2px;
  margin: 2px 8px;
}


.modules-right{
  /* background: alpha(@background, 0.9); */
  border-color: @border-color;
  border-radius: 6px;
  padding: 4px;
  margin: 2px 8px;
}


tooltip {
    background: @background;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: @foreground; 
}

#workspaces {
    background-color: alpha(@color0, 0.5);
    opacity: 1;
    margin: 4px 0px;
    /* border: 1px solid; */
    border-color: @border-color; 
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    border-radius: 8px;
}

#workspaces button {
    padding: 0px 4px;
    margin: 2px 0px;
    color: alpha(mix(@background, @foreground, 0.7),0.3);
    margin-left: 0px;
    transition: padding 0.2s;
    transition-timing-function: ease-out;
    border-radius: 8px;
}


#workspaces button.active {
    color: @foreground;
    background-color: @accent;
    margin: 2px 0px;
    padding-left: 16px;
    padding-right: 16px;
    transition: padding 0.2s, background-color 0.3s, border-color 0.3s;
    transition-timing-function: ease-out;
    border-radius: 8px;
}

#workspaces button.focused {
    color: @color6;
    background-color: alpha(@color0, 0.9);
}

#workspaces button.urgent {
    color: #aa2e2e;
    background: @background;
}

#workspaces button:hover {
    background: mix(@accent, @color0, 0.75);
    color: @foreground;
    
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight {
    background: alpha(@background, 0);
    opacity: 1;
    padding: 0px 8px;
}

#temperature, #cpu, #memory{
  background-color: alpha(@color0, 0.5);
  /* border-top: 1px solid; */
  /* border-bottom: 1px solid; */
  border-color: @border-color;
}

#temperature{
  color: @accent;
  /* border-left: 1px solid; */
  border-color: @border-color;
  border-radius: 4px 0px 0px 4px;
}
#temperature.critical{
  color: @color1;
}

#cpu{
  color: @accent;
}

#memory{
  color: @accent;
  /* border-right: 1px solid; */
  border-color: @border-color;
  border-radius:  0px 4px 4px 0px;
}

#battery {
  color: @color2;
  background-color: alpha(@color0, 0.5);
  /* border: 1px solid; */
  margin-left: 4px;
  border-color: @border-color;
  border-radius: 4px;
}
#battery.warning{
  color: @color3;
}
#battery.critical{
  color: @color1;
}

#backlight, #pulseaudio, #pulseaudio.microphone{
  background-color: alpha(@color0, 0.5);
  border-color: @border-color;
}

#backlight{
  color: @color4;
  border-radius: 4px;
  padding: 0px;
  margin-right: 4px;
}

#pulseaudio{
  color: @accent;
  border-color: @border-color;
  padding: 0px 6px;
  border-radius: 4px 0px 0px 4px;
}

#pulseaudio.microphone{
  color: @accent;
  border-radius: 0px 4px 4px 0px;
}

#tray{
  color: @center;
  margin-left: 4px;
  background-color: alpha(@color0, 0.5);
  border-color: @border-color;
  border-radius: 4px;
}

#custom-lock_screen, #clock, #custom-power_btn{
  background-color: alpha(@color0, 0.5);
  border-color: @border-color;
}

#custom-lock_screen{
  color: @center;
  margin-left: 4px;
  border-radius: 4px 0px 0px 4px;
}

#custom-power_btn{
  color: @center;
  padding-right: 10px;
  border-radius: 0px 4px 4px 0px;
}


#custom-updates{
  /* border: 1px solid; */
  margin-right: 4px;
  background-color: alpha(@color0, 0.5);
  border-color: @border-color;
  border-radius: 4px;
}
