@import "theme.css";

@define-color border-color alpha(mix(@background, @foreground, 0.7), 0.5);
@define-color accent @color4;
@define-color background-transparent alpha(@background, 0);
@define-color bg1 alpha(@background, 0.8);

* {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @background-transparent;
  color: @foreground;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces {
  /* background-color: @color0; */
  background: transparent;
  border-radius: 0px 0px 8px 8px;
  padding: 0px 8px;
  margin: 0px;
}

#workspaces button {
  background: rgba(0, 0, 0, 0);
  color: @foreground;
  padding: 0px 2px;
  padding-left: 1px;
  padding-right: 5px;
  background-color: transparent;
  margin: 0px;
  border: none;
  border-radius: 32px;
}

#workspaces button.persistent {
  color: mix(@foreground, @color8, 0.5);
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.empty {
  color: @color8;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.urgent {
  color: @foreground;
}

#workspaces button:hover {
  color: @foreground;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#taskbar,
#submap,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight {
  background: transparent;
  opacity: 1;
  padding: 0px 8px;
  margin: 0px 0px;
  border: 0px;
}

#clock {
  background-color: @color0;
  color: @accent;
  opacity: 1;
  padding: 0px 16px;
  margin-left: 2px;
  border-radius: 0px 0px 0px 16px;
}

#tasks {
  background-color: @color0;
  color: @accent;
  opacity: 1;
  font-size: 16px;
  border-radius: 0px 0px 16px 0px;
  margin-right: 2px;
}

#custom-launch_wofi {
  /* background-color: @color0; */
  color: @accent;
  opacity: 1;
  padding: 0px 16px;
  padding-right: 24px;
  /* border-radius: 0px 0px 16px 0px; */
  /* margin-right: 2px; */
}

#tray {
  background-color: @bg1;
  border-radius: 8px;
  margin: 2px 2px;
}

#hardware {
  background-color: @bg1;
  border-radius: 8px;
  margin: 2px 2px;
}

#pulseaudio {
  background-color: @bg1;
  border-radius: 8px 0px 0px 8px;
  margin: 2px 0px;
  margin-left: 2px;
}

#pulseaudio.microphone {
  background-color: @bg1;
  border-radius: 0px 8px 8px 0px;
  margin: 2px 0px;
  margin-right: 2px;
}

#custom-myhyprv {
  background-color: @bg1;
  margin: 2px 2px;
  border-radius: 8px;
}

#taskbar {
  margin: 2px;
}

#taskbar button {
  margin: 2px 2px;
  padding: 0px 1px;
  padding-left: 4px;
  border-bottom: 2px solid transparent;
}
#taskbar button.active {
  background-color: transparent;
  border-bottom: 2px solid @accent;
}

#battery {
  background-color: @bg1;
  border-radius: 8px 0px 0px 8px;
  color: @foreground;
  padding: 0px 4px;
  margin: 2px 0px;
  margin-left: 2px;
  padding-left: 8px;
}
#backlight {
  background-color: @bg1;
  border-radius: 0px 8px 8px 0px;
  padding: 0px 4px;
  padding-right: 4px;
  margin: 2px 0px;
  margin-right: 2px;
}

#battery.warning {
  color: @color3;
}

#battery.critical {
  color: @color1;
}

#cpu,
#memory,
#temperature {
  background-color: @bg1;
  margin: 2px 0px;
  padding: 0px 4px;
}
#memory {
  border-radius: 0px 8px 8px 0px;
  margin-right: 2px;
  padding-right: 8px;
}
#temperature {
  border-radius: 8px 0px 0px 8px;
  margin-left: 2px;
  padding-left: 8px;
}

#submap {
  padding: 0px 8px;
  color: @accent;
  background-color: @bg1;
  border-radius: 8px;
  margin: 2px 2px;
}

#window {
  font-size: 9pt;
  color: @foreground;
  margin: 2px 2px;
  padding: 0px 8px;
  /* background-color: @bg1; */
  /* border-radius: 8px; */
}
#window.empty {
  padding: 0px;
  margin: 0px;
  background: @color4;
}
