@import "theme.css";
/* @import "colors.css"; */

@define-color border-color alpha(mix(@color8, @foreground, 0.3), 0.5);
@define-color center @foreground;
@define-color accent @color4;
@define-color background1 mix(@background, @color0, 0.5);
@define-color background2 mix(@background, @color0, 0.75);

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: alpha(@background, 0.5);
  color: @foreground;
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
  border: 1px solid;
  border-color: @border-color;
}

.modules-left {
  margin: 4px;
}

.modules-center {
  margin: 4px;
}

.modules-right {
  margin: 4px;
}
tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: @foreground;
}

#workspaces button {
  margin: 0px;
  padding: 0px 4px;
  color: @color8;
  /* border-top: 2px solid; */
  /* border-bottom: 2px solid; */
  /* border-color: @accent; */
  transition: ease-in-out 0.3s;
  transition-property: color, background, padding;
}
#workspaces button:first-child {
  /* margin-left: -5px; */
}
#workspaces button:last-child {
  /* border-right: 2px solid; */
  /* border-radius: 0px 4px 4px 0px; */
  /* border-color: @accent; */
  margin-right: 2px;
}

#workspaces button.active {
  color: @foreground;
  background: alpha(mix(@color8, @background, 0.5), 0.5);
  padding: 0px 8px;
}

#workspaces button.focused {
  color: @foreground;
  background: @color1;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @background;
  background: @color2;
  border-radius: 10px;
}

#workspaces button:hover {
  background: mix(@background, rgb(255, 255, 255), 0.05);
  color: @accent;
  transition: ease-in-out 0.3s;
  transition-property: color, background, padding;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-power_btn,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight {
  background: transparent;
  opacity: 1;
  padding: 0px 8px;
  margin: 0px 2px;
  margin-top: 0px;
  border: 0px;
}
#custom-launch_wofi {
  background: @accent;
  color: @background;
  padding-right: 14px;
  border-radius: 2px 0px 0px 2px;
  margin: 0px;
  /* margin-right: -4px; */
}

#custom-power_btn,
#clock,
#custom-lock_screen {
  background: rgba(0, 0, 0, 0);
}

#pulseaudio {
  color: @accent;
  border-left: 0px;
  border-right: 0px;
  padding: 0px 4px;
  margin: 0px 2px;
}

#pulseaudio.microphone {
  color: @accent;
  border-left: 0px;
  border-right: 0px;
  padding: 0px 4px;
  margin: 0px 2px;
}

#battery {
  color: @color2;
  border-left: 0px;
}

#tray {
}

#custom-updates_icon,
#custom-rice_icon,
#custom-cpu_icon,
#custom-disk_icon,
#custom-temperature_icon,
#custom-memory_icon {
  background: @accent;
  color: @background;
  padding: 0px 12px 0px 7px;
  border-radius: 2px 0px 0px 2px;
  margin-right: 0px;
  margin-left: 2px;
}

#custom-cpu_icon {
  /* background: @color5; */
}
#cpu {
  background: transparent;
  border: 2px solid;
  border-radius: 0px 2px 2px 0px;
  /* border-color: @color5; */
  border-color: @accent;
  margin-left: 0px;
  margin-right: 2px;
}

#memory {
  border: 2px solid;
  border-radius: 0px 2px 2px 0px;
  /* border-color: @color3; */
  border-color: @accent;
  margin-left: 0px;
  margin-right: 2px;
}

#custom-rice_icon {
  padding: 0px 11px 0px 8px;
  /* background: @color2; */
}

#custom-myhyprv {
  border: 2px solid;
  border-radius: 0px 2px 2px 0px;
  /* border-color: @color3; */
  border-color: @accent;
  margin-left: 0px;
  margin-right: 2px;
}

#custom-temperature_icon {
  padding: 0px 10px 0px 10px;
  /* background: @color6; */
  margin-left: 0px;
}
#temperature {
  border: 2px solid;
  border-radius: 0px 2px 2px 0px;
  /* border-color: @color6; */
  border-color: @accent;
  margin-left: 0px;
  margin-right: 2px;
}
#temperature.critical {
  color: #e92d4d;
}

#custom-updates_icon {
}

#custom-updates {
  border: 2px solid;
  border-radius: 0px 2px 2px 0px;
  /* border-color: @color6; */
  border-color: @accent;
  margin-left: 0px;
  margin-right: 2px;
}

#battery {
  color: @accent;
  padding: 4px;
  margin-left: 2px;
  margin-right: 2px;
  /* border-color: @accent; */
  /* border-bottom: 2px solid; */
  /* border-radius: 0px; */
}
#battery.warning {
  color: @color3;
  border-color: @color3;
}
#battery.critical {
  color: @color1;
  border-color: @color1;
}

#backlight {
  color: @accent;
  padding: 0px;
  margin-left: 2px;
  margin-right: 2px;
  /* border-color: @accent; */
  /* border-bottom: 2px solid; */
  /* border-radius: 0px; */
}

#submap {
  margin-left: 4px;
  padding: 0px 4px;
  border-bottom: 2px solid;
  border-color: @color1;
  color: @color1;
}
