@import "theme.css";

/* @define-color accent @color4; */
@define-color background-transparent alpha(@background, 0);
@define-color bg1 mix(@background, @color8, 0.3);
@define-color bg2 mix(@background, @color8, 0.2);
@define-color bg3 mix(@background, @color8, 0.1);

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
  color: @foreground;
  border: 0;
  border-radius: 0;
  padding: 0 0;
  font-family: JetbrainsMono Nerd Font;
  font-size: 15px;
  padding-bottom: 0px;
}

window#waybar {
  background: @color0;
  border-radius: 4px;
  border: 1px solid;
  border-color: @bg3;
  padding: 0px;
}

#workspaces button {
  padding: 0px 8px;
  padding-top: 4px;
  border-bottom: 2px;
  color: @foreground;
  border-color: @color8;
  border-style: solid;
  /* margin-top: 2px; */
  margin: 1px 2px 0px 2px;
}

#workspaces button.urgent {
  border-color: @color1;
  background: @background;
  color: @background;
}
#workspaces button.urgent * {
  color: @color1;
}

#workspaces button.active {
  border-color: @accent;
  background: @bg2;
}

#workspaces button:last-child {
  margin-right: 8px;
}

#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#tray,
#window,
#custom-launcher,
#custom-power,
#custom-pacman,
#custom-network_traffic,
#custom-weather {
  padding: 0 4px;
  margin: 0px 4px;
  /* border-bottom: 2px; */
  border-style: solid;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  color: @accent;
  background-color: @bg1;
  padding: 0px 8px;
  margin: 1px 0px 1px 0px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0px 4px 4px 0px;
}

#backlight {
  color: @foreground;
}

#battery {
  color: @foreground;
}

#battery.charging {
  color: @color2;
}

@keyframes blink {
  to {
    color: @color8;
    background-color: @foreground;
  }
}

#battery.critical:not(.charging) {
  background: @color1;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @foreground;
  background-color: @background;
  margin: 1px 0px 1px 0px;
  padding-top: 4px;
}

#memory {
  margin: 1px 0px 1px 0px;
  color: @foreground;
  background-color: @background;
}

#network.disabled {
  color: @color1;
}

#network {
  color: @foreground;
}

#network.disconnected {
  color: @color1;
}

#pulseaudio {
  color: @foreground;
  background-color: @background;
  margin: 1px 0px 1px 0px;
}

#pulseaudio.muted {
  color: @color8;
}

#temperature {
  color: @foreground;
}

#temperature.critical {
  color: @color1;
}

#tray {
  background-color: @bg2;
  margin: 1px 0px 1px 0px;
}

#custom-launcher {
  border-style: hidden;
  padding-left: 8px;
  padding-right: 12px;
  margin-right: 2px;
}
#custom-power {
  background-color: @accent;
  padding-right: 10px;
  padding-left: 8px;
  border-style: hidden;
  border-radius: 0px 4px 4px 0px;
  color: @color0;
  margin: 1px 0px 1px 0px;
}

#window {
  border-style: hidden;
  margin-top: 1px;
  margin-left: 2px;
}

#custom-network_traffic {
  color: @foreground;
}

#custom-hyprv,
#idle_inhibitor {
  background-color: @bg3;
  margin: 1px 0px 1px 0px;
  padding: 0px 4px;
}

#idle_inhibitor {
  padding-left: 4px;
  padding-right: 14px;
}

#custom-seperator-thin-1,
#custom-seperator-thin-2,
#custom-seperator-arrow-1,
#custom-seperator-arrow-2,
#custom-seperator-arrow-3,
#custom-seperator-arrow-4,
#custom-seperator-slash-1,
#custom-seperator-slash-2 {
  margin: 1px 0px 1px 0px;
  font-size: 23px;
}

#custom-seperator-slash-1 {
  background-color: @bg1;
  color: @color4;
}
#custom-seperator-arrow-1 {
  background-color: @bg2;
  color: @bg1;
}

#custom-seperator-arrow-2 {
  background-color: @bg3;
  color: @bg2;
}

#custom-seperator-arrow-3 {
  background-color: @background;
  color: @bg3;
}

#custom-seperator-arrow-4 {
  background-color: @color0;
  color: @background;
}

#custom-seperator-thin-1 {
  background-color: @bg3;
  color: @bg2;
}

#custom-seperator-thin-2 {
  background-color: @background;
  color: @bg3;
}

#memory,
#pulseaudio,
#idle_inhibitor,
#custom-hyprv {
  padding-top: 2px;
}
