* {
    background-image: none;
    font-size: 14px;
    font-weight: bolder;
}

/* @import "$HOME/.config/waybar/themes/${wbarTheme}.css"; */

window {
    /* background-color: #1a1b26; */
    background-color: transparent;
}

button {
    color: #c0caf5;
    background-color: #1a1b26;
    border: 2px solid;
    border-color: #1a1b26;
    outline-style: none;
    /* border-width: 0px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: #7aa2f7;
    background-size: 20%;
}

button:focus#lock{
    background-color: #7aa2f7;
}
button:focus#logout{
    background-color: #bb9af7;
}
button:focus#shutdown{
    background-color: #f7768e;
}
button:focus#reboot{
    background-color: #e0af68;
}

button:hover {
    background-color: #15161e;
    background-size: 25%;
    border-radius: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border: 2px solid;
    border-color: #7aa2f7;
    color: #7aa2f7;
    border-radius: 16px 16px 0px 16px;
    margin : 190px 10px 10px 540px;
}

button:hover#logout {
    border: 2px solid;
    border-color: #bb9af7;
    color: #bb9af7;
    border-radius: 16px 0px 16px 16px;
    margin : 10px 10px 190px 540px;
}

button:hover#shutdown {
    border: 2px solid;
    border-color: #f7768e;
    color: #f7768e;
    border-radius: 16px 16px 16px 0px;
    margin : 190px 540px 10px 10px;
}

button:hover#reboot {
    border: 2px solid;
    border-color: #e0af68;
    color: #e0af68;
    border-radius: 0px 16px 16px 16px;
    margin : 10px 540px 190px 10px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 16px 0px 0px 0px;
    margin : 200px 0px 0px 550px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout_black.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 16px;
    margin : 0px 0px 200px 550px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown_black.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 16px 0px 0px;
    margin : 200px 550px 0px 0px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot_black.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 0px 16px 0px;
    margin : 0px 550px 200px 0px;
}
